.beneficios-gps {
  padding: 4rem 2rem;
  background: #fdfdfd;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.beneficios-gps h2 {
  font-size: 2.2rem;
  color: #ec2227;
  margin-bottom: 2rem;
  font-weight: bold;
}

.grid-beneficios {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* antes: 220px */
  gap: 1.5rem;
  max-width: 1050px; /* puedes subirlo a 1200px */
  margin: 0 auto;
}


.card {
  background: white;
  border-radius: 14px;
  padding: 2rem 1rem;
  box-shadow: 0 8px 20px rgba(0,0,0,0.08);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  animation: respirar 3s ease-in-out infinite;
}

.card:hover {
  transform: translateY(-6px);
  box-shadow: 0 12px 24px rgba(0,0,0,0.15);
  border: 2px solid #ec2227;
}

.icono {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.card h3 {
  font-size: 1.2rem;
  color: #222;
  margin-bottom: 0.5rem;
}

.card p {
  font-size: 0.95rem;
  color: #555;
}

@keyframes respirar {
  0%, 100% { transform: scale(1); }
  50% { transform: scale(1.03); }
}
