#main-content {
  background: linear-gradient(180deg, #010101 0%, #1b004d 50%, #2763b1 100%);
  background-attachment: fixed;
  background-repeat: no-repeat;
  min-height: 100vh;
  width: 100%;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInContent 1s ease 1s forwards;
}

@keyframes fadeInContent {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
