<div class="hero-wrapper">
  <app-hero-quienes></app-hero-quienes>
</div>

<div class="section-container" [class.visible]="isHistoriaVisible" #historiaSection>
  <app-historia-sisat></app-historia-sisat>
</div>

<div class="section-container" [class.visible]="isValoresVisible" #valoresSection>
  <app-valores-sisat></app-valores-sisat>
</div>
<div class="section-container" [class.visible]="isCarruselVisible" #carruselSection>
  <section class="soluciones-mini-scroll">
    <h2>Conoce más de nuestros proyectos</h2>
    <app-carrusel-proyectos></app-carrusel-proyectos>
  </section>
</div>



<div class="section-container" [class.visible]="isAliadosVisible" #aliadosSection>
  <app-aliados-sisat></app-aliados-sisat>
</div>

