<section class="funcionamiento-section" id="funcionamiento">
  <div class="video-container">
    <iframe
       src="https://www.youtube.com/embed/yalyfQfKbrg?autoplay=1&mute=1&loop=1&playlist=yalyfQfKbrg&controls=0&modestbranding=1&rel=0"
      title="Demostración de Territory Design"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe>
  </div>

  <div class="video-overlay">
    <div class="video-text-box">
      <h2 class="titulo-seccion rojo">¿Cómo funciona Territory Design?</h2>
      <p class="subtitulo-box">
        Visualiza cómo nuestra solución redefine la planeación de rutas con precisión geográfica, distribución eficiente de zonas y más.
      </p>
    </div>
  </div>
</section>

