<section class="cta-jigsaw">
  <div class="cta-content">
    <div class="text-content">
      <h2>Transforma tu monitoreo con <span>Jigsaw</span></h2>
      <p>Descubre cómo Jigsaw puede optimizar el rendimiento de tus operaciones. Empieza ahora.</p>
      <a href="https://fuel.jigsawm2m.com/Unsecured/Login.aspx" target="_blank" class="cta-btn">
        Ir al portal
      </a>
    </div>
    <div class="image-content">
      <img src="assets/imgs/jigsaw.svg" alt="Mockup Jigsaw" />
    </div>
  </div>
</section>

