<header class="sticky-top">
  <nav class="navbar navbar-expand-lg bg-light py-4 shadow-sm">
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/']">
        <img src="assets/imgs/png negro.png" alt="SISAT Logo" class="img-fluid" style="max-width: 160px;">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
              data-bs-target="#navbarContent" aria-controls="navbarContent"
              aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" (click)="navigate('')">Inicio</a>
          </li>

          <li class="nav-item dropdown">
            <a #solucionesDropdownToggle class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown">Soluciones</a>
            <ul class="dropdown-menu">
              <li *ngFor="let s of soluciones">
                <a class="dropdown-item" (click)="navigate(s.link)">{{ s.label }}</a>
              </li>
            </ul>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown">Servicios</a>
            <ul class="dropdown-menu">
              <li *ngFor="let s of servicios">
                <a class="dropdown-item" (click)="navigate(s.link, s.external)">{{ s.label }}</a>
              </li>
            </ul>
          </li>

          <li class="nav-item">
            <a class="nav-link" (click)="navigate('quienes-somos')">¿Quiénes somos?</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" (click)="navigate('contacto')">Contacto</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>



