.tren-wrapper {
  overflow: hidden;
  width: 100%;
  background: #fafafa;
  padding: 3rem 0;
}

.tren-contenido {
  display: flex;
  width: max-content;
  animation: scrollLoop 20s linear infinite;
}

.logos-loop {
  display: flex;
  gap: 120px;
  padding-right: 100px;
}

.tren-contenido img {
  height: 100px;
  cursor: pointer;
  filter: grayscale(100%);
  transition: transform 0.3s, filter 0.3s;
}

.tren-contenido img:hover {
  transform: scale(1.2);
  filter: grayscale(0%);
}

@keyframes scrollLoop {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.tren-contenido:hover {
  animation-play-state: paused;
}



