<div class="titulo-historia-container">
  <h2 class="titulo-historia">Nuestra Historia</h2>
</div>

<section class="linea-tiempo-carousel"
         (touchstart)="onTouchStart($event)"
         (touchmove)="onTouchMove($event)"
         (touchend)="onTouchEnd()"
         (mousedown)="onMouseDown($event)"
         (mousemove)="onMouseMove($event)"
         (mouseup)="onMouseUp()"
         (mouseleave)="onMouseLeave()">

  <!-- Solo una imagen visible -->
  <div class="carousel-wrapper">
    <img [src]="imagenes[imagenActual]" class="carousel-item" />
  </div>

  <!-- INDICADOR -->
  <div class="carousel-indicator">
    <div class="icono-emoji">👈👉</div> 
    <p>Desliza para explorar la historia</p>
  </div>
</section>








