.hero-video-container {
  position: relative;
  width: 100%;
  height: 120vh;
  overflow: hidden;
}

.video-fondo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.5);
  z-index: 0;
}

.hero-overlay {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: transparent;
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 2rem;
}

.hero-box {
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 16px;
  padding: 3rem 2rem;
  text-align: center;
  color: #ffffff;
  max-width: 500px;
  margin-bottom: 10rem;
  width: 100%;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(4px);
}

.titulo-principal {
  font-size: 2.7rem;
  font-weight: 800;
  margin-bottom: 1.5rem;
  font-family: 'Anton', sans-serif;
  color: #EC2227;
}

.subtitulo-box {
  font-size: 1.5rem;
  color: #dddddd;
  margin-bottom: 2rem;
}

.cta-boton {
  background-color: #EC2227;
  color: #ffffff;
  border: none;
  padding: 0.8rem 2.5rem;
  font-size: 1.3rem;
  font-weight: 500;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.cta-boton:hover {
  background-color: #b61a1e;
  transform: scale(1.05);
}

/* === RESPONSIVE === */
@media (max-width: 768px) {

  .hero-video-container {
    height: 90vh;
  }
  .titulo-principal {
    font-size: 1.8rem;
  }

  .subtitulo-box {
    font-size: 0.8rem;
  }

  .hero-box {
    padding: 2rem 1.5rem;
  }

  .cta-boton {
    font-size: 0.7rem;
  }
}

