<section class="hero-nosotros">
  <img src="assets/imgs/quienes-somos/fondo.png" class="hero-bg" alt="Fondo hero SISAT" loading="lazy" />
  <div class="overlay">
    <div class="hero-content">
      <div class="hero-text">
        <h1>Llevamos eficiencia extrema a cada entrega</h1>
        <p>En SISAT impulsamos la digitalización logística para optimizar la última milla de tu operación.</p>
        <button class="cta-hero" routerLink="/#carruselSection" >Conoce nuestras soluciones</button>
      </div>
      <div class="hero-sisatron">
        <img src="assets/imgs/quienes-somos/sisatron2.png" alt="SISATRÓN asistente virtual SISAT" loading="lazy" />
      </div>
    </div>
  </div>
</section>


