.hero-video-container {
  position: relative;
  width: 100%;
  height: 160vh;
  overflow: hidden;
  color: white;
}

.video-fondo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.5);
  z-index: 0;
}

.hero-overlay {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: transparent;
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 2rem;
 
}

.hero-box {
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
  border-radius: 16px;
  padding: 3rem;
  text-align: center;
  color: #ffffff;
  max-width: 550px;
  width: 100%;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.25);
  margin-bottom: 30rem;
}

.hero-box h1 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.hero-box h1 .destacado {
  color: #EC2227;
}

.subtitulo-box {
  font-size: 1.2rem;
  margin-bottom: 2rem;
  color: #dddddd;
}

.cta-boton {
  background-color: #EC2227;
  padding: 0.8rem 1.5rem;
  color: white;
  border: none;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
  transition: background 0.3s ease, transform 0.2s ease;
}

.cta-boton:hover {
  background: #ff3a36;
  transform: scale(1.05);
}

/* Flechas */
.flecha {
  position: absolute;
  font-size: 6rem;
  color: white;
  animation: bajar 1.5s infinite ease-in-out;
  z-index: 2;
}

.flecha.izquierda {
  bottom: 3rem;
  left: 2rem;
}

.flecha.derecha {
  bottom: 3rem;
  right: 2rem;
  animation-delay: 0.3s;
}

@keyframes bajar {
  0% {
    transform: translateY(0);
    opacity: 0.3;
  }
  50% {
    transform: translateY(10px);
    opacity: 1;
  }
  100% {
    transform: translateY(0);
    opacity: 0.3;
  }
}

/* === RESPONSIVE === */
@media (max-width: 768px) {
  .hero-box {
    padding: 2rem 1rem;
    max-width: 90%;
  }

  .hero-box h1 {
    font-size: 1.6rem;
  }

  .subtitulo-box {
    font-size: 1rem;
  }

  .cta-boton {
    font-size: 1rem;
    padding: 0.6rem 1.2rem;
  }

  .flecha {
    font-size: 2.5rem;
  }

  .flecha.izquierda {
    left: 1rem;
    bottom: 1rem;
  }

  .flecha.derecha {
    right: 1rem;
    bottom: 1rem;
  }
}
