.hero-video-left {
  position: relative;
  width: 100%;
  height: 115vh;
  overflow: hidden;
  background: #000;
}

.video-fondo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.5);
  z-index: 0;
}

.hero-overlay {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
  padding-left: 4rem;
  padding-right: 2rem;
}

.hero-box-left {
  background-color: rgba(0, 0, 0, 0.65);
  padding: 3rem 2.5rem;
  border-radius: 16px;
  max-width: 500px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
  color: #fff;
  backdrop-filter: blur(6px);
  text-align: left;
}

.titulo-principal {
  font-size: 3rem;
  font-weight: 600;
  font-family: 'Anton', sans-serif;
  color: #ffffff;
  margin-bottom: 1.5rem;
}


.subtitulo-box {
  font-size: 1.1rem;
  color: #dddddd;
  margin-bottom: 2rem;
  line-height: 1.6;
}

.cta-boton {
  background-color: #EC2227;
  color: white;
  padding: 0.8rem 2rem;
  border: none;
  border-radius: 8px;
  font-weight: 600;
  text-decoration: none;
  font-size: 1.1rem;
  transition: background-color 0.3s ease, transform 0.2s ease;
  display: inline-block;
}

.cta-boton:hover {
  background-color: #b61a1e;
  transform: scale(1.05);
}

/* === RESPONSIVE === */
@media (max-width: 768px) {
  .hero-overlay {
    justify-content: center;
    padding: 1rem;
    text-align: center;
  }

  .hero-box-left {
    max-width: 90%;
    text-align: center;
  }

  .titulo-principal {
    font-size: 2rem;
  }

  .subtitulo-box {
    font-size: 1rem;
  }

  .cta-boton {
    font-size: 0.7rem;
  }
}

