<section class="hero-video-left">
  <video autoplay muted loop playsinline class="video-fondo">
    <source src="assets/videos/hero-app.mp4" type="video/mp4" />
    Tu navegador no soporta la reproducción de video.
  </video>

  <div class="hero-overlay">
    <div class="hero-box-left">
      <h1 class="titulo-principal">Control total desde tu<br/> <span style="color: #EC2227;">App Móvil</span> </h1>
      <p class="subtitulo-box">
        Monitorea, administra y optimiza tu operación desde cualquier lugar en tiempo real.
      </p>
      <a routerLink="/contacto" class="cta-boton">Solicita una demo</a>
    </div>
  </div>
</section>


