<div class="night"></div>

<div id="preloader">
  <img src="assets/imgs/jpg negro.jpg" alt="Logo Empresa" id="logo">
</div>

<section class="seccion-blanca">
  <app-carrusel-proyectos></app-carrusel-proyectos>
</section>

<section class="seccion-gris">
  <h2 class="titulo-seccion">Lo que opinan nuestros clientes</h2>
  <app-clientes-gafete></app-clientes-gafete>
</section>

<section class="seccion-blanca">
  <h2 class="titulo-seccion">Empresas que confían en SISAT</h2>
  <app-empresas-tren></app-empresas-tren>
</section>





